body{
    margin: 0px;
    display: flex;
    justify-content: center;   
    height: 100vh;
    align-items: center;
    background-color: rgb(176, 255, 229);   
}
.feedback-container{
    background-color: white;
    width:400px ;
    height: 200px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    border-radius: 5px;
    position: relative;
}
.emoji-container{
    position: absolute;
    width: 50px;
    /* background-color: blueviolet; */
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    height: 50px;
    border-radius: 50% ;
    display: flex;
    overflow: hidden;

}
.fa-face-angry{
    color: red;
}
.fa-regular{
    margin:1px;
    transform: translateX(0);
    transition: transform 0.1s;
}
.rating-container{
    /* background-color: pink; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;



}
.fa-star{
    color: lightgrey;
    cursor: pointer;


}
.fa-star.active{
    color: gold;
}